.sideNav {
            top: 0vh;
            height: 100vh;
            width: 0;
            position: fixed;
            z-index: 1;
            left: 0;
            background-color: rgb(46, 218, 195);
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.5s;
        }

        .sideNav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #000000;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .openSideNav {
            padding: 1px;
            font-size: 20px;
            border: none;
            border-radius: 0%;
            background-color: rgb(255, 255, 255);
        }

        .main-content {
            transition: 0.5s;
        }