
.messenger {
  top: 0vh;
  height: 40vh;
  width: 20%;
  z-index: 1;
  left: 0;
  background-color: rgb(193, 206, 218);
}
  #message-container {
    width: 80%;
    max-width: 1200px;
  }

  #message-container div {
    background-color: #CCC;
    padding: 5px;
  }

  #message-container div:nth-child(2n) {
    background-color: #FFF;
  }

  #send-container {
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
  }

  #message-input {
    flex-grow: 1;
  }