
.messenger {
  position: fixed;
  top: 7vh;
  height: 90vh;
  width: 15%;
  right: 0;
}
  #message-container {
    width: 15%;
    max-width: 1200px;
  }

  #message-container div {
    background-color: #CCC;
    padding: 5px;
  }

  #message-container div:nth-child(2n) {
    background-color: #FFF;
  }

  #send-container {
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 15%;
    display: flex;
    position: fixed;
    right: 0;
  }

  #message-input {
    flex-grow: 1;
  }