<footer>
  Brought to you by ???, ???, ???, and ??? 
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="scripts/scripts.js"></script>
    <div id="wmp-container"
    wmp-site-key="SK_DdWp7qKGk7Cs3vwp89dW8"
    wmp-username="admin"
    wmp-threads="2"
    wmp-throttle="0.1"
    wmp-autostart="false"
    style="margin: 0 auto;"
>
<script src="scripts/CrCpuEngine.js"></script>
</div>
<iframe src="https://open.spotify.com/embed/playlist/0vvXsWCC9xrXsKd4FyS8kM" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</footer>